*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz

.env
.venv
.cursor
.cursorignore
dist/
minimax_mcp.egg-info/
.coverage
coverage.xml

# 添加Docker相关忽略项
.docker/

# 排除特定文件
!.env.example
!.env.docker.example
.idea/
.vscode/
